.App {
  text-align: center;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
  padding: 5px
}

.Fleek-logo {
  max-width: 20vmin;
  height: 5vmin;
  padding: 5px
}

.eth-logo {
  max-width: 5vmin;
  height: 5vmin;
  padding: 5px
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #202040;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #EDE7F6;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.message{
    color: #fff;
}

.msg{
    color: #fff;
}

.chatHeader{
    text-align: center;
    padding: 20;
    justify-content: flex-start;
    color: white;
    font-size: 20px;
    border-bottom-left-radius: 8px
}

.chatHeaders{
  text-align: center;
  padding: 20;
  justify-content: flex-start;
  color: white;
  font-size: 20px;
}

.chatWindow{
    border-radius: 10px
}

/* jhgvjhgv */
input[type=text] {
    border: none;
    font-size: 1em;
    background-color: transparent;
    color: #fff;
    padding: .10em 0;
    margin: 2ex 0;
    width: 100%;
    max-width: 18em;
    display: block;
    padding: 20px;
    spellcheck:"false";
}


.inputChat{
    color: darkgray;
}

.chatWindow {
  display: flex;
  flex-flow: column wrap;
  flex-direction: column;
  align-content: flex-start;
  flex-wrap: wrap;
}