.App {
  text-align: center;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
  padding: 5px
}

.Fleek-logo {
  max-width: 20vmin;
  height: 5vmin;
  padding: 5px
}

.eth-logo {
  max-width: 5vmin;
  height: 5vmin;
  padding: 5px
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #202040;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #EDE7F6;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
